:root {
    --blue-header: #2E3080;
    --light-hover-underline-green:#07A74F;
    --gray-color:#858585;
    --white:#FFFFFF;
    --black:#000000;
    --light-gray:#847F7F;
    --darken-green:#005D5A;
    --lighet-gray:#717171;
    
}