

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: var(--white);
  text-transform: capitalize;
}

li:hover  {
  color: #07A74F;
  border-bottom: .5rem solid #07A74F;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
